<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div class="profile-container">
    <h1 class="profile-title">Your Profile</h1>
    <div id="profile-data" class="profile-data"></div>
    <a href="http://localhost:3000/users/profile/data" class="profile-link">Users List</a>
    <a href="http://localhost:3000/users/updateUserProfile" class="profile-link">Update Profile</a>
    <a href="http://localhost:3000/post/createPost" class="post-create">createPost</a>
    <a href="http://localhost:3000/post/getPosts" class="profile-link">Show Get Posts</a>
    <a href="http://localhost:3000/post/updateUserPost" class="profile-link">Update User Post</a>
    <a href="http://localhost:3000/post/getSinglePost" class="profile-link">My Post</a>
    <a href="http://localhost:3000/users/login" class="profile-link logout">log out</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/profile.js"></script>
</body>
</html>