<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registration</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
    <h1>REGISTRATION</h1>
    <form action="/users/registration" id="registration">
        <label for="firstName">First Name:
            <input type="text" name="firstName" id="firstName" 	placeholder="First Name">
            <span id="firstName-error" class="error"></span>
        </label>

        <label for="lastName">Last Name:
            <input type="text" name="lastName" id="lastName" placeholder="Last Name">
            <span id="lastName-error" class="error"></span>
        </label>

        <label for="email">Email:
            <input type="email" id="email" name="email"	placeholder="Email">
            <span id="email-error" class="error"></span>
        </label>

        <label for="password">Password:
            <input type="password" 	name="password" id="password" placeholder="Password">
            <span id="password-error" class="error"></span>
        </label>


        <input type="submit" value="Register">
        
    </form>
    <div id="success-message" class="success-message"></div>

    <div>
        <a href="/users/login" class="registration-link">Already have an account? Login here</a>

    </div>


        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/javascripts/registration.js"></script>
    </body>
</html>