<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div class="registration-container">
    <h1 class="registration-title">Registration</h1>
    <form id="registration-form" action="/registration">
        <label for="fName" class="form-label">
            <input
                    type="text"
                    name="fName"
                    id="fName"
                    class="form-input"
                    placeholder="First Name"
                    required
            />
            <span id="fName-error" class="error"></span>
        </label>

        <label for="lName" class="form-label">
            <input
                    type="text"
                    name="lName"
                    id="lName"
                    class="form-input"
                    placeholder="Last Name"
                    required
            />
            <span id="lName-error" class="error"></span>
        </label>

        <label for="email" class="form-label">
            <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-input"
                    placeholder="Email"
                    required
            />
            <span id="email-error" class="error"></span>
        </label>

        <label for="password" class="form-label">
            <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-input"
                    placeholder="Password"
                    required
            />
            <span id="password-error" class="error"></span>
        </label>

        <input type="submit" class="form-submit" value="Register" />
    </form>

    <div id="success-message" class="success-message"></div>

    <a href="/users/login" class="registration-link"
    >Already have an account? Login here</a
    >
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/registration.js"></script>
</body>
</html>