<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div class="container">
    <h1 class="posts-header">Posts</h1>
    <a class="a_href" href="/users/profile"> Profile </a>

    <div id="posts-container"></div>
    <span id="error-message" class="error-message"></span>
    <div id="comments"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/getPosts.js"></script>
</body>
</html>