body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: grid;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
#registration{
  display: flex;
  flex-direction: column
}